body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: image(hotlap);
  }

  .icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: rgb(0, 0, 0);
    font-size: 36px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: #ffffff;
  }
  

 
 

  /* body*/
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* tab content*/
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
/*video*/
width:100%;
aspect-ratio:16/9;



  
  #GTR  {background-color: rgb(20, 190, 57);
  }
  #LM {background-color: rgb(255, 196, 1);
  }
  #GT {background-color: rgb(3, 19, 2);}
